*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

a{
	text-decoration: none;
}

h1, h2, p{
	cursor: context-menu;
}

/* CLASSES AUXILIARES */

.center{
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 2%;
}

.clear{clear: both;}

.selected{font-weight: 700;}

.first{border-top:1px solid #d7d7d7;} /*CLASSE PARA DEIXAR UMA BORDA SUPERIOR NO MENU MOBILE*/

/*ESTILIZACAO DO MENU*/

header{
	width: 100%;
	background-color: #314875;
}

/*ESTILIZACAO DA LOGO*/
div.logo{
	float: left;
	padding: 10px;
}

div.logo a {
	font-size: 25px;
	font-weight: bold;
	color: rgb(215,215,215);
}

/*ESTILIZACAO DO MENU-DESKTOP*/ 
nav.menu-desktop{
 	float: right;
 }

nav.menu-desktop ul{
 	list-style-type: none;
 }
nav.menu-desktop li{
 	display: inline-block;
 	padding: 15px 10px;
 }

nav.menu-desktop a{
	font-size: 18px;
	color: rgb(215,215,215);
}

nav.menu-desktop a:hover{
	 opacity: 0.5;
}

/*ESTILIZACAO DO MENU-MOBILE*/
nav.menu-mobile{
	display: none;
	float: right;
}

nav.menu-mobile h2{
	padding: 10px;
	color: rgb(215,215,215);
	cursor: pointer;
}

nav.menu-mobile ul{
	display: none;
	width: 100%;
	background-color: #3c5991;
	text-align: center;
}

nav.menu-mobile li{
	padding:8px 0;
	border-bottom: 1px solid #d7d7d7;
}

nav.menu-mobile a{
	display: block;
	color: rgb(215,215,215);
	text-decoration: none;
}

nav.menu-mobile a:hover{
	opacity: 0.5;
}

/*ESTILIZACAO DA SECTION PERFIL E ICHI-SOBRE*/
section.ichi-sobre{
	width: 100%;
	height: 100px;
	background-image: url(../images/banner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

section.ichi-sobre > .overlay > .center h1{
	padding: 25px;
	font-size: 40px;
	color: rgb(215,215,215);
	text-align: left;
}

div.overlay:not(h1){
	width: 100%;
	height: 100px;
	background-color: rgba(0,0,0,0.7);
}

/*ESTILIZACAO DA SECTION CONTATO*/
section.contato{
	background-color: rgb(215,215,215);
	padding: 30px 0;
}

section.contato input{
	background-color: rgb(245,245,245);
	padding: 0 10px;
}


.formulario form{
	margin-top: 10px;
}

.formulario h2{
	background: #4b89bf;
	text-align: center;
	color: rgb(215,215,215);
	font-size: 18px;
	font-weight: 500;
	border-left: 5px solid #314875;
	border-right: 5px solid #314875;
	padding: 4px 0;
}

.formulario input[type=text],
.formulario input[type=email]{
	width: 100%;
	height: 40px;
	border:1px solid #ccc;
	margin-bottom: 15px;
	padding-left: 8px;
}

.formulario textarea{
	background-color: rgb(245,245,245);
	width: 100%;
	height: 250px;
	border:1px solid #ccc;
	margin-bottom: 15px;
	padding:10px;
	resize: vertical;
}

div.btn input{
	font-weight: 700;
	font-size: 18px;
	float: right;
	width: 150px;
	height: 30px;
	background-color: #e7426b;
	color: white;
	border-radius: 3%;
	border: 1px solid black;
	cursor: pointer;
}


/*ESTILIZACAO DO FOOTER*/
footer{
	background-color: #4b89bf;
}

div.bot1{
	padding: 50px 0;
}

div.bot2{
	margin-top: 50px;
	width: 100%;
	background-color: #314875;
	text-align: center;
	color: white;
	padding:10px;
}

div.dados h2{
	text-decoration: underline;
	font-size: 25px;
	font-weight: 500;
	color: rgb(35,35,35);
	margin-bottom: 10px;
}

div.dados p{
	padding-right: 8px;
	margin-bottom: 10px;
	color: rgb(35,35,35);
	font-weight: 500;
}

div.dados{
	float: left;
	width: 50%;
}

div.social-media{
	text-align: right;
	float: right;
	width: 50%;
}

div.social-media h2{
	text-decoration: underline;
	font-size: 25px;
	font-weight: 500;
	color: rgb(35,35,35);
	margin-bottom: 8px;
}

div.social-media a{
	color: rgb(35,35,35);
	font-size: 20px;
}

div.social-media a:hover{
	opacity: 0.5;
}


/*APLICANDO RESPONSIVIDADE*/
@media screen and (max-width: 1024px){

	div.imagem{
		margin-top: 120px;
		margin-left: 100px;
	}

	div.titulo p{
		padding-right:0;
	}
}

@media screen and (max-width: 768px){

	div.dados{
		text-align: center;
		width: 100%;
		margin-bottom: 20px;
	}

	div.social-media{
		text-align: center;
		width: 100%;
	}


	div.fundo-texto{
		display: none;
	}

	nav.menu-desktop{
		display: none;
	}

	nav.menu-mobile{
	display: inline-block;
	}

	nav.menu-mobile ul{
		display: block;
		width: 100%;
		background: #3c5991;
		position: absolute;
		left: 0;
		top: 50px;
		text-align: center;
	}

}
